################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/sans porn
/~talk.url
/todo.rtf
/score.txt
/points.txt
/new forum post.txt
/misc_logs.txt
/logs.txt
/ImageManip.url
/Discord Documentation.url
/shop.txt
/.vs/SafucoolBot
